
<h2>CS 340 Database Project</h2>

<ul>
    <li><a href='park'>List of Park (Perform Create, Read, Update, Delete operations)</a></li>
    <li><a href='land'>List of Land (Perform Create, Read, Update, Delete operations)</a></li>
    <li><a href='character'>List of Character (Perform Create, Read, Update, Delete operations)</a></li>
    <li><a href='attraction'>List of Attraction (Perform Create, Read, Update, Delete operations)</a></li>
    <li><a href='dining'>List of Dining (Perform Create, Read, Update, Delete operations)</a></li>
</ul>

<ul>
    <li><a href='park_land'>Change Land for a Park (Change M-to-M relationships)</a></li>
    <li><a href='park_character'>Change Character for a Park (Change M-to-M relationships)</a></li>
    <li><a href='park_attraction'>Change Attraction for a Park (Change M-to-M relationships)</a></li>
    <li><a href='park_dining'>Change Dining Service location (Change 1-to-M relationships)</a></li>
</ul>

<ul>
    <li><a href='park_character_filter'>Filter Park by Characters they have</a></li>
</ul>
    