<h4>Create New Land:</h4>
<form id="addLand" action="/land" method="post">
    <fieldset>
        <label>Name of Land:</label> 
        <input type="text" name="name">
        <br />
        <br />
        <input type="submit" id="addLand" value="Add Land">
    </fieldset>
</form>

<br />

<h2 class="landTableName">Land List</h2>
<table class="landTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        {{#if lands}}
            {{#each lands}}
                <tr>
                    <td>{{name}}</td>
                    <td>
                        <button onclick="deleteLand({{landID}})">Delete</button>
                    </td>
                    <td>
                        <a href="/land/{{landID}}">Update</a>
                    </td>
                </tr>
            {{/each}}
        {{/if}}

    </tbody>
</table>